# 1.Create DF from CSV files

In [10]:
import os
print(os.getcwd())
os.chdir("E:/code/5.DataAnalysisOfficial/data/pandas")
print(os.getcwd())

E:\code\5.DataAnalysisOfficial\data\pandas
E:\code\5.DataAnalysisOfficial\data\pandas

In [11]:
import pandas as pd

df = pd.read_csv("pandas_sales.csv",index_col="month")
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

# 2.convert all metrics into dozens

## method1.use own functions

In [12]:
def fun_dozens(arg1):
    return arg1/12

In [13]:
fun_dozens(36)

3.0

In [14]:
fun_dozens(df['eggs'])

month
Jan     3.916667
Feb     9.166667
Mar    18.416667
Apr     6.416667
May    11.000000
Jun    17.083333
Name: eggs, dtype: float64

## method2.inbuilt funtion

In [15]:
#df.floordiv?

In [16]:
df.floordiv(12)                        # for dataframe level

       eggs  salt  spam
month
Jan       3   1.0     1
Feb       9   4.0     2
Mar      18   7.0     6
Apr       6   7.0     1
May      11   NaN     4
Jun      17   5.0     4

In [17]:
#df.spam.floordiv(12) 
df['spam'].floordiv(12)                 # for column level

month
Jan    1
Feb    2
Mar    6
Apr    1
May    4
Jun    4
Name: spam, dtype: int64

## method3. using numpy function

In [18]:
import numpy as np

np.floor_divide(df,12)

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in floor_divide
  This is separate from the ipykernel package so we can avoid doing imports until

       eggs  salt  spam
month
Jan     3.0   1.0   1.0
Feb     9.0   4.0   2.0
Mar    18.0   7.0   6.0
Apr     6.0   7.0   1.0
May    11.0   NaN   4.0
Jun    17.0   5.0   4.0

## method4.using lambda function

In [19]:
df.apply(lambda arg1:arg1/12)

            eggs      salt      spam
month
Jan     3.916667  1.000000  1.416667
Feb     9.166667  4.166667  2.583333
Mar    18.416667  7.416667  6.000000
Apr     6.416667  7.250000  1.666667
May    11.000000       NaN  4.333333
Jun    17.083333  5.000000  4.583333

# 3.transform one particular column

In [20]:
df.salt.floordiv(12)

month
Jan    1.0
Feb    4.0
Mar    7.0
Apr    7.0
May    NaN
Jun    5.0
Name: salt, dtype: float64

In [21]:
df.eggs.apply(lambda n:n/2)

month
Jan     23.5
Feb     55.0
Mar    110.5
Apr     38.5
May     66.0
Jun    102.5
Name: eggs, dtype: float64

# 4.get indexes of DF

In [22]:
df.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'], dtype='object', name='month')

# 5.get uppercase indexes

In [23]:
df.index.str.capitalize()

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'], dtype='object', name='month')

In [24]:
df.index.str.upper()

Index(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN'], dtype='object', name='month')

In [25]:
df.index.str.lower()

Index(['jan', 'feb', 'mar', 'apr', 'may', 'jun'], dtype='object', name='month')

# 6.add two columns

In [26]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

In [27]:
df["eggs_salt"]= df.eggs+df.salt
df

       eggs  salt  spam  eggs_salt
month
Jan      47  12.0    17       59.0
Feb     110  50.0    31      160.0
Mar     221  89.0    72      310.0
Apr      77  87.0    20      164.0
May     132   NaN    52        NaN
Jun     205  60.0    55      265.0