## Read Data from Mongo DB

1.Note: If you did not install software ,please install
    <a>https://www.mongodb.com/download-center/community</a>

3 types of db's
- sql(oracle, terdata)
- No sql( we can communicate withSql or any other languages like mongo db, HBase)

## 1.1 List Databases of Mongo DB

In [13]:
import pymongo
# if error "module not found"
# conda install -c anaconda pymongo
myclient = pymongo.MongoClient(u"mongodb://localhost:27017/")
myclient.list_database_names()

['admin', 'config', 'local', 'mydemo', 'pavandb']

In [14]:
len(myclient.list_database_names())

5

## 1.2 DB will not created until a collection(table) is created

In [15]:
mydb = myclient["organization"]

In [18]:
dblist = myclient.list_database_names()
if "organization" in dblist:
    print("db exists")
else:
    print("db not exists")

db not exists

## 1.3 create a collection(aka row)

In [19]:
mycol = mydb["student"]

In [21]:
colist = mydb.list_collection_names()
if "student" in colist:
    print("collection exists")
else:
    print("collection does not exists")

collection does not exists

## 1.4 Insert Documents(aka Rows) in Collection

In [28]:
mydict = {"name":"pawan","age":"25","qual":"mech","phone":"8143"}
x = mycol.insert_one(mydict)
print(x.inserted_id)

5ed0e52f3312be780bdb6623

#### multiple Documents

In [101]:
mylist = [{"name":"kiran","age":"28","qual":"ecce","phone":"9700"},
         {"name":"vijay","age":"27","qual":"csc","phone":"8125"},
         {"name":"teja","age":"29","qual":"csc","phone":"9600"},
         {"name":"sudheer","age":"26","qual":"mba","phone":"9133"},
         {"name":"swamy","age":"26","qual":"csc","phone":"9123"},
         {"name":"chandu","age":"26","qual":"mech","phone":"8150"}]

In [102]:
y = mycol.insert_many(mylist)
print(y.inserted_ids)

[ObjectId('5ed105333312be780bdb6637'), ObjectId('5ed105333312be780bdb6638'), ObjectId('5ed105333312be780bdb6639'), ObjectId('5ed105333312be780bdb663a'), ObjectId('5ed105333312be780bdb663b'), ObjectId('5ed105333312be780bdb663c')]

In [105]:
colist = mydb.list_collection_names()
if "student" in colist:
    print("collection exists")
else:
    print("collection does not exists")

collection exists

## 1.5 Read mongo collection

In [42]:
a = mycol.find_one()
print(a)

{'_id': ObjectId('5ed0e52f3312be780bdb6623'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}

In [44]:
for b in mycol.find():
    print(b)

{'_id': ObjectId('5ed0e52f3312be780bdb6623'), 'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'_id': ObjectId('5ed0e5333312be780bdb6624'), 'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'_id': ObjectId('5ed0e5333312be780bdb6625'), 'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'_id': ObjectId('5ed0e5333312be780bdb6626'), 'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'_id': ObjectId('5ed0e5333312be780bdb6627'), 'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'_id': ObjectId('5ed0e5333312be780bdb6628'), 'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'_id': ObjectId('5ed0e5333312be780bdb6629'), 'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}

In [98]:
for c in mycol.find({},{"_id":0}):
    print(c)

{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'}
{'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'}
{'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'}
{'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'}
{'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'}
{'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'}
{'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}

In [47]:
for d in mycol.find({},{"_id":0,"name":1,"age":1}):
    print(d)

{'name': 'pawan', 'age': '25'}
{'name': 'kiran', 'age': '28'}
{'name': 'vijay', 'age': '27'}
{'name': 'teja', 'age': '29'}
{'name': 'sudheer', 'age': '26'}
{'name': 'swamy', 'age': '26'}
{'name': 'chandu', 'age': '26'}

In [79]:
#You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):
#for d in mycol.find({},{"name":1,"age":0}):
#    print(d)

#### Read mongo collection in dict format

In [80]:
output = []
for q in mycol.find():
        output.append({'name':q['name'], 'age':q['age'], 'qual':q['qual'], 'phone':q['phone']})
output

[{'name': 'pawan', 'age': '25', 'qual': 'mech', 'phone': '8143'},
 {'name': 'kiran', 'age': '28', 'qual': 'ecce', 'phone': '9700'},
 {'name': 'vijay', 'age': '27', 'qual': 'csc', 'phone': '8125'},
 {'name': 'teja', 'age': '29', 'qual': 'csc', 'phone': '9600'},
 {'name': 'sudheer', 'age': '26', 'qual': 'mba', 'phone': '9133'},
 {'name': 'swamy', 'age': '26', 'qual': 'csc', 'phone': '9123'},
 {'name': 'chandu', 'age': '26', 'qual': 'mech', 'phone': '8150'}]

## 2. load data from Json file

In [83]:
import json

with open("E:/D-drive/DS/data/01 DS ML DL NLP and AI With Python Lab Copy/02.LabData/pandas/simple.json", 'r') as f:
    data = json.load(f)
data

{'Name': 'Test',
 'Mobile': 12345678,
 'Boolean': True,
 'Pets': ['Dog', 'cat'],
 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}

In [84]:
import pymongo

myclient = pymongo.MongoClient(u"mongodb://localhost:27017/")
mydb = myclient["organization"]
mycoll = mydb["rows_coll"]
mycoll.insert(data)

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5ed0f5c53312be780bdb6636')

In [87]:
for s in mycoll.find({},{"_id":0}):
    print(s)

{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'Name': 'Test', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}

## 3.create one user in database

In [92]:
#myclient.organization.add_user?

In [93]:
myclient.organization.add_user(name="root", password="root",
                               roles=[{'role':'dbAdmin','db':'organization'}])

myclient.organization.add_user(name="root", password="root",
                               roles=[{'role':'readWrite','db':'organization'}])

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead

C:\Users\LENOVO\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead
  """

### list the users of database

In [95]:
#/usr/bin/python

#from pymongo import MongoClient

#client = MongoClient("localhost",27017)
#db = client.organization

# This is the line I added with the help of @salmanwahed
listing = mydb.command('usersInfo')

for document in listing['users']:
    print(document['user'] +" "+ document['roles'][0]['role'])

root readWrite

## 4.Read mongo collection in DataFrame format

In [106]:
import pandas as pd
from pymongo import MongoClient

def _connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)

    return conn[db]



def read_mongo(db, collection, query={}, host='localhost', port=27017,
               username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

## Access database without username and password

In [113]:
df = read_mongo(db="organization", collection="student")
df.head()

  age     name phone  qual
0  25    pawan  8143  mech
1  28    kiran  9700  ecce
2  27    vijay  8125   csc
3  29     teja  9600   csc
4  26  sudheer  9133   mba

## Access database with username and password

In [114]:
df = read_mongo(db="organization",collection='student',
                username="root", password="root")
df.head()

  age     name phone  qual
0  25    pawan  8143  mech
1  28    kiran  9700  ecce
2  27    vijay  8125   csc
3  29     teja  9600   csc
4  26  sudheer  9133   mba

In [16]:
import pymongo
import pandas as pd

con = pymongo.MongoClient("mongodb://localhost:27017/")
print(con.list_database_names())
db = con['organization']
print(db.list_collection_names())
coll = db['student']
cursor = coll.find()
print(cursor)

['admin', 'config', 'crawlerDB', 'local', 'mydemo', 'organization', 'pavandb']
['student', 'rows_coll']
<pymongo.cursor.Cursor object at 0x00000228C4597860>

In [15]:
pd.DataFrame(list(cursor))

                         _id      name age  qual phone
0   5ed0e52f3312be780bdb6623     pawan  25  mech  8143
1   5ed0e5333312be780bdb6624     kiran  28  ecce  9700
2   5ed0e5333312be780bdb6625     vijay  27   csc  8125
3   5ed0e5333312be780bdb6626      teja  29   csc  9600
4   5ed0e5333312be780bdb6627   sudheer  26   mba  9133
5   5ed0e5333312be780bdb6628     swamy  26   csc  9123
6   5ed0e5333312be780bdb6629    chandu  26  mech  8150
7   5ed105333312be780bdb6637     kiran  28  ecce  9700
8   5ed105333312be780bdb6638     vijay  27   csc  8125
9   5ed105333312be780bdb6639      teja  29   csc  9600
10  5ed105333312be780bdb663a   sudheer  26   mba  9133
11  5ed105333312be780bdb663b     swamy  26   csc  9123
12  5ed105333312be780bdb663c    chandu  26  mech  8150
13  608abf1e723a32d98f3b4324      asdf  52   sds   456
14  608abfab723a32d98f3b4325      asdf  52   sds   456
15  608abfab723a32d98f3b4326  aadafsdf  42  asdf   NaN